<div class="jumbotron">
  <h1> Mario's Foods</h1>
</div>
<div class="row">
  
  <h4>Check out some of our most recent items!</h4>
  <ul>
    <% Product.three_most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  
  <h4>This is our current most popular item! (based on number of reviews):</h4>
  <ul>
  <%  Product.most_reviews.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end  %>
  </ul>
  


  <h4>These are the items we currently carry that are made in the USA!:</h4>
  <ul>
  <% Product.search("United States").each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  </ul>
</div>