<div class="jumbotron">
  <h1> Current Users: </h1>
</div>
<% if @users.any? %>
<ul>
<% @users.each do |user| %>
<li><%= user.email  %></li>

<% if user.admin %>
<%= "This user is an admin" %>
<% else %>
<%= "This user is not an admin" %>
<% end %>

<% end %>
</ul>
<% else %>
<p>There are no users yet!</p>
<% end %>
