<div class="jumbotron">
  <h1> Our Products </h1>
</div>
<% if @products.any? %>
<ul>
<% @products.each do |product| %>
<li><%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>
<% else %>
<p>There are no products yet!</p>
<% end %>

<h3> <%= link_to "Create a product", new_product_path %> </h3>